@import "./variables";

.userSelected,
.recommendations,
.colorSwatches{
    display: flex;
    flex-wrap: wrap;
}
.userSelected {
    justify-content: space-between;
    text-align: center;
    width: 75%;
    margin: 20px auto;
}

.recommendations{
    padding-bottom: 100px;
}
.searchResult{
    width: 100%;
    text-align: center;
}
.productContainer {
    width: calc(33% - 20px);
    background: #ffffffb3;
    padding: 20px 20px 40px 20px;
    margin: 10px;
    position: relative;
    text-align: center;
}
.productImage{
    width: 65%;
    margin: 10px auto 30px;
}

.description {
    display: none;
}

.price {
    margin-bottom: 55px;
    color: $text;
}
.productLink {
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $accent;
    background:$secondary;
    transition: all 0.4s;
    &:hover, &:focus, &:active {
        background: $accent;
        color: $secondary;
        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}
.storeLink:focus a,
.storeLink:active a{
    background: $accent;
    color: $secondary;
}

.colorSwatches {
    justify-content: center;
    li {
    list-style: none;
    }
}
.swatchItem {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid $main;
}
.searchResult {
    text-transform: capitalize;
    font-family: $bodyFont;
    color: $text;
    padding: 30px;
}