@import "./variables";

form {
    padding: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

select {
    width: 80%;
    padding: 30px;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    margin-top: 30px;
    border-radius: 20px;
    border: transparent;
    background-image: url("../assets/brDown.png");
    float: left;
    position: relative;
    background-repeat: no-repeat;
    background-position: 95% center;
    text-transform: capitalize;
}

[type=submit]{
    clear: both;
    width: 30%;
    background-color:$secondary;
    border-radius: 40px;
    border: transparent;
    color: $accent;
    padding: 30px;
    margin: 30px auto 0 auto;
    &:hover, &:active, &:focus{
        background-color: $accent;
        color: $secondary;
    }
}

.modal {
    background-color: $secondary;
    border:$accent;
    position: absolute;
    z-index: 80;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
        color: $accent;
        text-align: center;
        padding: 50px;
    }

}
.modal button {
    background: $accent;
    color: $secondary;
    border-radius: 50px;
    width: 30%;
    padding: 10px;
    border: transparent;
    
    
}
.modalContainer {
    display: none;
}


.recommendations{
    display: flex;
    flex-wrap: wrap;
}
.searchResult{
    width: 100%;
    text-align: center;
}
.productContainer {
    width: calc(33% - 20px);
    background: #ffffffb3;
    padding: 20px 20px 40px 20px;
    margin: 10px;
    position: relative;
    text-align: center;
}
.productImage{
    width: 65%;
    margin: 10px auto 30px;
}
img{
    width: 100%;
    display: block;
}
.description {
    display: none;
}
h3{
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 20px;
}
.price {
    margin-bottom: 55px;
    color: $text;
}
.productLink {
    // border: 3px solid $secondary;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    background:$secondary;
    &:hover, &:focus, &:active {
        background: $accent;
        color: $secondary;
        // border: 3px solid #ff59647a;
    }
}
.storeLink:focus a,
.storeLink:active a{
    background: $accent;
    color: $secondary;
}

.colorSwatches {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
    list-style: none;
    }
}
.swatchItem {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid aliceblue;
}
.searchResult {
    text-transform: capitalize;
    font-family: $bodyFont;
    color: $text;
    padding: 30px;
}

@media (max-width: 1110px) {
    .productContainer{
        width: calc(50% - 20px);
    }
}
@media (max-width: 700px) {
    .productContainer{
        width: 100%;
        margin: 40px;
    }
    .productImage{
        width: 40%;
    }
    h3{
        margin: 0 auto 20px;
        width: 60%;
        text-align: center;
    }
    header{
        height: 60vh;
    }
}
@media (max-width: 500px) {
    h1 {
        font-size: 3.8rem;
    }
    [type="submit"]{
        width: 70%;
    }
    .productContainer{
        margin: 10px 0;
    }
    select {
        width: 100%;
    }
    form{
        padding: 30px;
    }
    .modal{
        height: 300px;
        button{
            width: 60%;
            padding: 10px;
        }
    }
    h4{
        font-size: 1.3rem;
        padding: 30px;
    }
}
@media (max-width: 410px) {
    .productImage{
        width: 70%;
    }
    h3{
        width: 70%;
    }
    
}
@media (max-width: 355px) {
    h1{
        font-size: 3.2rem;
    }
    .productImage{
        width: 80%;
    }
    h3{
        width: 100%;
    }
    [type="submit"]{
        padding: 20px;
    }
}