form {
    padding: 50px;
    margin: 0 auto;
}

select {
    width: 80%;
    padding: 30px;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    margin-top: 30px;
    border-radius: 20px;
    border: transparent;
    background-image: url("../assets/brDown.png");
    float: left;
    position: relative;
    background-repeat: no-repeat;
    background-position: 95% center;
}

[type=submit]{
    clear: both;
    width: 30%;
    background-color:$tertiary;
    border-radius: 40px;
    border: transparent;
    color: $text;
    padding: 30px;
   margin: 30px auto 0 auto;
}

.modal {
    background-color: $secondary;
    border:$accent;
    //position: absolute;
    z-index: 80;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    h4{
        color: $accent;
        button{
            background: $accent;
            color: $secondary;
            border-radius: 10px;
        }
    }

}
