header {
    background-image: linear-gradient(
    to bottom,
    hsla(255.29, 52.58%, 19.02%, 0.28) 0%,
    hsla(256.56, 52.48%, 18.85%, 0.281) 11.4%,
    hsla(258.96, 52.29%, 18.54%, 0.284) 21.2%,
    hsla(262.39, 52%, 18.09%, 0.288) 29.8%,
    hsla(266.8, 51.61%, 17.53%, 0.292) 37.2%,
    hsla(272.19, 51.1%, 16.86%, 0.297) 43.7%,
    hsla(278.64, 50.45%, 16.11%, 0.303) 49.5%,
    hsla(286.3, 49.63%, 15.27%, 0.308) 54.7%,
    hsla(295.39, 48.6%, 14.39%, 0.314) 59.5%,
    hsla(305.63, 49.8%, 14.12%, 0.32) 64.2%,
    hsla(314.52, 52.7%, 14.36%, 0.325) 69%,
    hsla(321.91, 55.27%, 14.55%, 0.33) 73.9%,
    hsla(327.91, 57.42%, 14.7%, 0.334) 79.3%,
    hsla(332.49, 59.07%, 14.81%, 0.337) 85.3%,
    hsla(335.46, 60.15%, 14.88%, 0.339) 92.2%,
    hsla(336.52, 60.53%, 14.9%, 0.34) 100%
    ), url("../assets/makeupBrushes.jpg");
    height: 80vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
h1{
    font-family: $headerFont;
    color:$secondary;
    text-align: center;
    font-size: 5.8rem;
    text-shadow: 2px 1px 1px $accent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}