// ==========================================
// color
// ==========================================
$main: rgba(241, 228, 232, 1);
$secondary: rgba(255, 89, 100, 1);
$tertiary: rgba(226, 220, 222, 1);
$text: rgba(91, 35, 51, 1);
$accent: aliceblue;

// ==========================================
// font family
// ==========================================
$headerFont: 'Raleway', sans-serif;
$bodyFont: 'Noto Sans', sans-serif;
