article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  padding: 0;
  margin: 0;
  font-size: 125%; }

h1, h2, h3, h4, p, a, button, ul, li {
  padding: 0;
  margin: 0; }

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
  min-width: 320px; }

body {
  background: #f1e4e8;
  font-family: "Noto Sans", sans-serif; }

header {
  background-image: url("../assets/makeupBrushes.jpg");
  height: 80vh;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; }

h1 {
  font-family: "Raleway", sans-serif;
  color: #ff5964;
  text-align: center;
  font-size: 5.8rem;
  text-shadow: 1px 2px aliceblue;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

h4 {
  font-size: 2rem;
  font-family: "Noto Sans", sans-serif; }

html {
  padding: 0;
  margin: 0;
  font-size: 125%; }

h1, h2, h3, h4, p, a, button, ul, li {
  padding: 0;
  margin: 0; }

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
  min-width: 320px; }

body {
  background: #f1e4e8;
  font-family: "Noto Sans", sans-serif; }

header {
  background-image: url("../assets/makeupBrushes.jpg");
  height: 80vh;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; }

h1 {
  font-family: "Raleway", sans-serif;
  color: #ff5964;
  text-align: center;
  font-size: 5.8rem;
  text-shadow: 1px 2px aliceblue;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

h4 {
  font-size: 2rem;
  font-family: "Noto Sans", sans-serif; }

form {
  padding: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

select {
  width: 80%;
  padding: 30px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  margin-top: 30px;
  border-radius: 20px;
  border: transparent;
  background-image: url("../assets/brDown.png");
  float: left;
  position: relative;
  background-repeat: no-repeat;
  background-position: 95% center; }

[type=submit] {
  clear: both;
  width: 30%;
  background-color: #e2dcde;
  border-radius: 40px;
  border: transparent;
  color: #5b2333;
  padding: 30px;
  margin: 30px auto 0 auto; }

.modal {
  background-color: #ff5964;
  border: aliceblue;
  z-index: 80;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px; }
  .modal h4 {
    color: aliceblue; }
    .modal h4 button {
      background: aliceblue;
      color: #ff5964;
      border-radius: 10px; }

.recommendations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.searchResult {
  width: 100%;
  text-align: center; }

.productContainer {
  width: calc(33% - 20px);
  background: #ffffffb3;
  padding: 20px 20px 40px 20px;
  margin: 10px;
  text-align: center; }

.productImage {
  width: 65%;
  margin: 10px auto 30px; }

img {
  width: 100%;
  display: block; }

.description {
  display: none; }

h3 {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 20px; }

.price {
  margin-bottom: 25px; }

.productLink {
  border: 3px solid #ff5964;
  padding: 10px 20px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 30px;
  color: aliceblue;
  background: #ff5964; }
  .productLink:hover {
    background: #ff59647a;
    border: 3px solid #ff59647a; }

.colorSwatches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .colorSwatches li {
    list-style: none; }

.swatchItem {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid aliceblue; }


